.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  color: white;
}

.header-box {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 800px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 2px;
  flex-direction: column;
  text-decoration: none;
}

.logo-container span {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing:6px;
  margin-right:-6px;
}

.offline-banner {
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 8px 16px;
  font-size: 12px;
}

@media (min-width: 600px) {
  .header-box {
    padding: 8px 24px;
  }
  .offline-banner {
    padding: 8px 24px;
  }
}
