.error-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}

.error-dialog h1 {
    font-size: 64px;
    font-weight: 700;
}

.error-dialog h2 {
    font-size: 24px;
    font-weight: 700;
}

.message {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-width: 500px;
  line-height: 1.1em;
  display: -webkit-box;
}
